
/* productsheader section */

.products-header{
    display: flex;
    color: #475569;
    justify-content: space-between;
    
}
.products-header-title{
   
    font-weight: 500;
}
.sort-container{
    display: flex;
    align-items: center;
   gap: 10px;
}
.sort-icon{
   font-size: 20px;
}
.sort-heading{
    font-size: 18px;
    font-weight: 400;
}
.sort-by-select{
    color: #475569;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 16px;
}
.select-option {
    color: #7e858e;
    
  }


  
